<html lang="en-us" dir="ltr">
    <head>
        <title>Add purchase_bill | Django site admin</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
        <!-- <script src="/static/admin/js/nav_sidebar.js" defer=""></script> -->
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
        <!-- <script src="/admin/jsi18n/"></script>
        <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
        <script src="/static/admin/js/calendar.js"></script>
        <script src="/static/admin/js/jquery.init.js"></script>
        <script src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
        <script src="/static/admin/js/core.js"></script>
        <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
        <script src="/static/admin/js/actions.js"></script>
        <script src="/static/admin/js/urlify.js"></script>
        <script src="/static/admin/js/prepopulate.js"></script>
        <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script> -->
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    </head>

<body class=" app-shopapp model-purchase_bill change-form" data-admin-utc-offset="0">
<!-- Container -->
<div id="container"> 
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/"><h1 style="color:red; font-weight:bold; text-align:center; font-size:40px">نیازي مبایل زون</h1></a></h1>
        </div>
 
        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>   
        </div>
    </div>
    
    <!-- END Header -->
        
    <div class="breadcrumbs">
    <a href="/admin/">Home</a>
    › <a href="/admin/shopapp/">Shopapp</a>
    › <a href="/admin/shopapp/purchase_bill/">Purchase_bills</a>
    › Add purchase_bill
    </div>

    <div class="main shifted" id="main"> 
        
        <div class="content">
            
            <!-- Content -->
            <div id="content" class="colM">   
                    

                <div id="content-main">
                            <div>
                                <fieldset class="module aligned ">    
                                    <table  id="table_form" style="margin-left:auto;margin-right:auto"> 
                                            <caption>
                                                <a href="/admin/shopapp/" class="section" title="Models in the Shopapp application">Shopapp</a>
                                            </caption>
                               
                                            <tbody>
                                                <tr>
                                                    
                                                    <th>
                                                        <label style="float:left"  >  Bill No</label>                      
                                                    </th>

                                                    <th>
                                                        <label style="float:left"  >  purchaser</label>                      
                                                    </th>
                                                    <th>
                                                         <label >seller</label>   
                                                    </th>
                                                    <th>
                                                          <label for="id_return_qty">total_bill</label>                     
                                                    </th>
                                                    <th>
                                                          <label>payment</label>           
                                                    </th>
                                                    <th>
                                                          <label for="id_return_qty">discount</label>                     
                                                    </th>
                                                    <th>
                                                        purchasing_date
                                                    </th>
                                                    <th>Actions</th>
                                                </tr>


                                                
                                                {%for row in purchase_bills %}
                                                <tr>
                                                    <td> 
                                                        {{row.id}}
                                                    </td> 
                                                    <td>
                                                        {{row.purchaser}}
                                                    </td>
                                                                                
                                                    <td>
                                                        {{row.seller}}
                                                    </td>       
                                                    <td>
                                                        {{row.total_purchase_bill}} 
                                                    </td>  
                                                    <td>
                                                      {{row.payment}}
                                                    </td>    
                                                    
                                                    <td>
                                                        {{row.discount}}
                                                    </td>

                                                    
                                                    <td>
                                                        {{row.purchasing_date}}
                                                    </td>

                                                    <td><a href="/purchase_bill/update/{{row.id}}/" class="btn btn-success" role="button" >update</a> | <a href="/purchase_bill/delete/{{row.id}}/" role="button" class="btn btn-success" >delete</a> | <a href="/purchase_bill/detail/{{row.id}}/" role="button" class="btn btn-info" >Detail</a></td>

                                                 </tr>
                                                {% endfor %}
                                                    
                                            </tbody>
                                  
                                    </table>
                                </fieldset>
                        </div>
                    </form>
                </div>  <!--end of div content-main-->
                    <br class="clear">
            </div>     <!--end of div colM-->
            <!-- END Content -->
            <div id="footer"></div>
        </div><!-- end of div content-->
    </div> <!--- end of div main shifted -->
</div><!-- end of div container -->
<!-- END Container -->



</div><!-- end of  calendarbox module div-->
</body>
</html>
