<html lang="en-us" dir="ltr">
    <head>
        <title>Add purchase_bill | Django site admin</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
        <!-- <script src="/static/admin/js/nav_sidebar.js" defer=""></script> -->
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
        <!-- <script src="/admin/jsi18n/"></script>
        <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
        <script src="/static/admin/js/calendar.js"></script>
        <script src="/static/admin/js/jquery.init.js"></script>
        <script src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
        <script src="/static/admin/js/core.js"></script>
        <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
        <script src="/static/admin/js/actions.js"></script>
        <script src="/static/admin/js/urlify.js"></script>
        <script src="/static/admin/js/prepopulate.js"></script>
        <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script> -->
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    </head>

<body class=" app-shopapp model-purchase_bill change-form" data-admin-utc-offset="0">
<!-- Container -->
<div id="container"> 
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/"><h1 style="color:red; font-weight:bold; text-align:center; font-size:40px">نیازي مبایل زون</h1></a></h1>
        </div>
 
        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>   
        </div>
    </div>
    
    <!-- END Header -->
        
    <div class="breadcrumbs">
    <a href="/admin/">Home</a>
    › <a href="/admin/shopapp/">Shopapp</a>
    › <a href="/admin/shopapp/purchase_bill/">Purchase_bills</a>
    › Add purchase_bill
    </div>

    <div class="main shifted" id="main"> 
        <button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
        <nav class="sticky" id="nav-sidebar">
            <input type="search" id="nav-filter" placeholder="Start typing to filter…" aria-label="Filter navigation items">
                <div class="app-auth module">
                <table>
                    <caption>
                    <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
                    </caption> 
                    <tbody><tr class="model-group">
                        <th scope="row"><a href="/admin/auth/group/">Groups</a></th>       
                        <td><a href="/admin/auth/group/add/" class="addlink">Add</a></td>     
                    </tr>
                    
                    <tr class="model-user">
                        <th scope="row"><a href="/admin/auth/user/">Users</a></th>            
                        <td><a href="/admin/auth/user/add/" class="addlink">Add</a></td>
                    </tr>
                    
                </tbody></table>
                </div>
            
                <div class="app-shopapp module current-app">
                <table>
                    <caption>
                    <a href="/admin/shopapp/" class="section" title="Models in the Shopapp application">Shopapp</a>
                    </caption>
                    
                    <tbody>
                        <tr class="model-initial_asset">
                            <th scope="row"><a href="/admin/shopapp/initial_asset/">Asset</a></th>
                            <td><a href="/admin/shopapp/initial_asset/add/" class="addlink">Add</a></td> 
                        </tr>
                        
                        <tr class="model-customer">
                            <th scope="row"><a href="/admin/shopapp/customer/">Customer</a></th>  
                            <td><a href="/admin/shopapp/customer/add/" class="addlink">Add</a></td>      
                        </tr>
                        
                        <tr class="model-customer_ledger">
                            <th scope="row"><a href="/admin/shopapp/customer_ledger/">Customer_ledgers</a></th>
                            <td><a href="/admin/shopapp/customer_ledger/add/" class="addlink">Add</a></td>     
                        </tr>
                        
                        <tr class="model-product">
                            <th scope="row"><a href="/admin/shopapp/product/">Products</a></th>
                            <td><a href="/admin/shopapp/product/add/" class="addlink">Add</a></td>   
                        </tr>
                        
                        <tr class="model-purchase_bill current-model">  
                            <th scope="row"><a href="/admin/shopapp/purchase_bill/" aria-current="page">Purchase_bills</a></th>
                            <td><a href="/admin/shopapp/purchase_bill/add/" class="addlink">Add</a></td>    
                        </tr>
                        
                        <tr class="model-purchase">   
                            <th scope="row"><a href="/admin/shopapp/purchase_detail/">Purchases_detail</a></th> 
                            <td><a href="/admin/shopapp/purchase_detail/add/" class="addlink">Add</a></td>    
                        </tr>
                        
                        <tr class="model-roznamcha">
                            <th scope="row"><a href="/admin/shopapp/roznamcha/">Roznamchas</a></th>
                            <td><a href="/admin/shopapp/roznamcha/add/" class="addlink">Add</a></td>  
                        </tr>
                        
                        <tr class="model-sale_bill">      
                            <th scope="row"><a href="/admin/shopapp/sales_detail/">Sale_bills</a></th>
                            <td><a href="/admin/shopapp/sales_detail/add/" class="addlink">Add</a></td>
                        </tr>
                        
                        <tr class="model-sales">   
                            <th scope="row"><a href="/admin/shopapp/sales/">Saless</a></th> 
                            <td><a href="/admin/shopapp/sales/add/" class="addlink">Add</a></td>
                        </tr>
                        
                    </tbody>
                </table>
                </div>
        </nav>

            
        <div class="content">
            
            <!-- Content -->
            <div id="content" class="colM">   
                    
                <span style="display:inline;margin:3%"><h1>Add purchase_bill</h1></span>

                
                <form method="post" action='{{request.META.HTTP_NAME}}/admin/shopapp/purchase_bill/add/'  id="purchase_bill" >
                    
                        {% csrf_token %}
                <span style="display:inline;margin:3%"> 
                             <input type="text" name="bill_no" value="{{purchase_bill.id}}" placeholder="شماره بل" class="" required="" id="">                      
                </span> 
                <span style="display:inline;margin:3%">
                            <input type="date" name="bill_date" value="{{purchase_bill.purchasing_date}}" class="vDateField" size="10" required="" id="id_purchasing_date"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0"><span class="date-icon" title="Choose a Date"></span></a></span>                                
                </span>
                                               
                 <span style="display:inline;margin:3%">
                             <input type="text" name="company" value="{{purchase_bill.seller}}" placeholder="دچاڅخه اخیستل شوی" class="" required="" id="">                      
                </span>       
                <span style="display:inline;margin:3%">
                             <input type="text" name="purchaser" placeholder="اخستونكي" {% if detail %} value="{{purchase_bill.purchaser}}" {% else %}  value="{{request.user.username}}" {% endif %} required="" id="">                      
                </span>  
                <span style="display:inline;margin:3%">
                             <input type="text" name="total_bill_amount" value="{{purchase_bill.total_purchase_bill}}" placeholder="مجموعه پیسی" required="" id="">                      
                </span>    
                
                <span style="display:inline;margin:3%">
                             <input type="text" name="total_paymen5" value="{{purchase_bill.payment}}" placeholder="مجموعه ادا" required="" id="">                      
                </span>
                
                <div id="content-main">
                            <div>
                                <fieldset class="module aligned ">    
                                    <table style="width:100%" id="table_form">
                                            <caption>
                                                <a href="/admin/shopapp/" class="section" title="Models in the Shopapp application">Shopapp</a>
                                            </caption>
                            
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        <label style="float:left"> Item name</label>                      
                                                    </th>
                                                    <th>
                                                         <label > Item amount</label>   
                                                    </th>
                                                    <th>
                                                          <label>Item price</label>           
                                                    </th>
                                                    <th>
                                                          <label for="id_return_qty">Return qty</label>                     
                                                    </th>
                                                   
                                                </tr>
                                                {% if detail %}
                                                 {% for detail in purchase_bill.purchase_detail_set.all %}
                                                <tr>
                                                     <td> 
                                                         <div>
                                                          <select id="item_name" name="item_name">
                                                          <option>{{detail.product}}</option>
                                                          <option value="charger">charger</option>
                                                          <option value="charger2">charger2</option>
                                                          </select>
                                                          </div>
                                                    </td>
                                                     <td><div><input type="number" id="item_amount" value="{{detail.item_amount}}" name="item_amount"></div></td>
                                                     <td><div><input type="number" id="item_price" value="{{detail.item_price}}" name="item_price"></div></td>
                                                     <td><div><input type="number" id="return_qty" value="{{detail.return_qty}}" name="return_qty"></div></td>
                                                 </tr>
                                                 {% endfor %}
                                                {% endif %}
                                            </tbody>
                                    </table>
                                </fieldset>

                                <div class="submit-row">
                                <input type="submit" value="Save" class="default" name="_save">
                                <input type="button" value="اضافه کردن جنس" id="addnawajans" onclick="adding_row()" name="addnawajans">
                                </div>
                        </div>
                    </form>
                </div>  <!--end of div content-main-->
                    <br class="clear">
            </div>     <!--end of div colM-->
            <!-- END Content -->
            <div id="footer"></div>
        </div><!-- end of div content-->
    </div> <!--- end of div main shifted -->
</div><!-- end of div container -->
<!-- END Container -->


<div class="calendarbox module" id="calendarbox0" style="display: none; position: absolute;">
    <div>
        <a href="#" class="calendarnav-previous">&lt;</a>
        <a href="#" class="calendarnav-next">&gt;</a>
    </div>
    <div id="calendarin0" class="calendar">
        <table>
        <caption>June 2022</caption>
        <tbody>
        <tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr>
        <tr><td class="nonday"> </td><td class="nonday"> </td><td class="nonday"> </td><td class=""><a href="#">1</a></td><td class=""><a href="#">2</a></td><td class=""><a href="#">3</a></td><td class=""><a href="#">4</a></td></tr>
        <tr><td class=""><a href="#">5</a></td><td class=""><a href="#">6</a></td><td class=""><a href="#">7</a></td><td class=""><a href="#">8</a></td><td class=""><a href="#">9</a></td><td class=""><a href="#">10</a></td><td class=""><a href="#">11</a></td></tr><tr><td class=""><a href="#">12</a></td><td class=""><a href="#">13</a></td><td class=""><a href="#">14</a></td><td class=""><a href="#">15</a></td><td class=""><a href="#">16</a></td><td class=""><a href="#">17</a></td><td class=""><a href="#">18</a></td></tr>
        <tr><td class=""><a href="#">19</a></td><td class=""><a href="#">20</a></td><td class=""><a href="#">21</a></td><td class=""><a href="#">22</a></td><td class=""><a href="#">23</a></td><td class="today"><a href="#">24</a></td><td class=""><a href="#">25</a></td></tr><tr><td class=""><a href="#">26</a></td><td class=""><a href="#">27</a></td><td class=""><a href="#">28</a></td><td class=""><a href="#">29</a></td><td class=""><a href="#">30</a></td><td class="nonday"> </td><td class="nonday"> </td>
        </tr>
        </tbody>
        </table>
    </div>
   
    <p class="calendar-cancel"><a href="#">Cancel</a></p>
</div><!-- end of  calendarbox module div-->
</body>
</html>
<!-- <script>window.location='http://127.0.0.1:8000/admin/products/product/add/?_to_field=id&_popup=1';</script> -->
<script>
    var data;
    function adding_row(){
        table_form=document.getElementById("table_form");
        row_elements=document.getElementById("row_elements");
        var list_tr=document.createElement("tr");
        var td_in_tr1=document.createElement("td");
        var div_in_td1=document.createElement("div");
        var div_in_div1=document.createElement("div");

        var select_item_name_in_div=document.createElement("select");
        select_item_name_in_div.id='item_name';
        select_item_name_in_div.name='item_name';
        product_id="all";
        url='/products/'+product_id+'/';
        fetch(url,{
            'method':'GET'
        }).then(response=>response.json()).then(data=>{
            console.log(data);
            for(key in data){
                //console.log("key=",key," data[key]=",data[key])
                var option_in_select=document.createElement("option");
                option_in_select.value=data[key]['item_name'];
                option_in_select.innerText=data[key]['item_name'];
                select_item_name_in_div.appendChild(option_in_select);
                //select_item_name_in_div.appendChild(option_in_select2)
            }
        }).catch(e=>{
            console.log(e);
        })
        table_form.appendChild(list_tr);
        list_tr.appendChild(td_in_tr1);
        td_in_tr1.appendChild(div_in_td1);
        //div_in_div1.appendChild(div_in_div1);
        div_in_td1.appendChild(select_item_name_in_div);
        // var option_in_select=document.createElement("option");

        // option_in_select.value="charger";
        // option_in_select.innerText="charger";
        // var option_in_select2=document.createElement("option");
        // option_in_select2.value="charger2";
        // option_in_select2.innerText="charger2";
            
        // table_form.appendChild(list_tr);
        // list_tr.appendChild(td_in_tr1);
        // td_in_tr1.appendChild(div_in_td1);
        // //div_in_div1.appendChild(div_in_div1);
        // div_in_td1.appendChild(select_item_name_in_div);
        // select_item_name_in_div.appendChild(option_in_select);
        // select_item_name_in_div.appendChild(option_in_select2)

        var item_amount_in_div=document.createElement("input");
        item_amount_in_div.type="number"
        item_amount_in_div.id='item_amount'
        item_amount_in_div.name='item_amount'
        var td_in_tr2=document.createElement("td");
        var div_in_td2=document.createElement("div");
        //var div_in_div2=document.createElement("div");
        list_tr.appendChild(td_in_tr2)
        td_in_tr2.appendChild(div_in_td2)
        //div_in_td2.appendChild(div_in_div2)
        div_in_td2.appendChild(item_amount_in_div)
        //div_in_div2.appendChild(item_amount_in_div)
  
        var item_price_in_div=document.createElement("input");
        item_price_in_div.type="number"
        item_price_in_div.id='item_price'
        item_price_in_div.name='item_price'
        var td_in_tr2=document.createElement("td");
        var div_in_td2=document.createElement("div");
        //var div_in_div2=document.createElement("div");
        list_tr.appendChild(td_in_tr2)
        td_in_tr2.appendChild(div_in_td2)
        //div_in_td2.appendChild(div_in_div2)
        div_in_td2.appendChild(item_price_in_div)
        //div_in_div2.appendChild(item_amount_in_div)

        
        var return_qty_in_div=document.createElement("input");
        return_qty_in_div.type="number"
        return_qty_in_div.id='return_qty'
        return_qty_in_div.name='return_qty'
        var td_in_tr2=document.createElement("td");
        var div_in_td2=document.createElement("div");
        //var div_in_div2=document.createElement("div");
        list_tr.appendChild(td_in_tr2)
        td_in_tr2.appendChild(div_in_td2)
        //div_in_td2.appendChild(div_in_div2)
        div_in_td2.appendChild(return_qty_in_div)
        //div_in_div2.appendChild(item_amount_in_div)
        // var return_qty_in_div=document.createElement("input");
        //  var td_in_tr4=document.createElement("td");
        // var div_in_td4=document.createElement("div");
        // //var div_in_div4=document.createElement("div");
        // list_tr.appendChild(td_in_tr4)
        // td_in_tr4.appendChild(div_in_td4)
        // //div_in_td4.appendChild(div_in_div4)
        // div_in_td4.appendChild(item_price_in_div)
        // //div_in_div4.appendChild(item_price_in_div)
    }
</script>

<!--#######################################post the form through api################################ -->

<script>
    function post_data(){
    fetch(url,{
        method:'PUT',
        credetials:'same-origin',
        headers:{
            'X-CSRFToken':getCookie("csrftoken"),
            'Accept':"application/json",
            'Content-Type':'application/json'
        },
        body:JSON.stringify(myData)
    }).then(function(response){return response.json();}).then(function(data){console.log("data is ok ",data)}).catch(function(ex){console.log('parsing failed ',ex)});
    }
</script>