
<html>
    <head> 
        <style> 
            table{
                margin-left: auto;
                margin-right: auto;
            }
            .top_header{
                color:red;
                text-align: center;
            }

        </style>
    </head>

<body>
    <table>
        <tr><h1 class="top_header">Hawala</h1> </tr>
        <tr><a href="{{request.META.HTTP_NAME}}/bank_users/add/form">Add Hawala </a></tr>
        {% if rows %}
        <tr><th>Id</th><th>First Name</th><th>Last Name</th><th>Actions</th></tr>
        
        {% for hawala in hawalas %}
        <tr>
            <td>{{hawala.id}}</td>
            <td>{{hawala.sender}}</td>
            <td>{{hawala.status}}</td>
            <td><a href="{{request.META.HTTP_NAME}}/bank_users/delete/{{m.id}}">Delete </a>|<a href="{{request.META.HTTP_NAME}}/bank_users/update/form/{{m.id}}">Edit</a></td>
        </tr>
        {% endfor %}

        {% endif %}
     
    </table>
</body>
</html>