<html>
    <head>
        <style>
            table{
                margin-left: auto;
                margin-right: auto;
            }
            .top_header{
                color:red;
                text-align: center;
            }

        </style>
    </head>

<body>

<div>   
    
    <table>
       
        <form action="{{request.META.HTTP_NAME}}/bank_users/update/{{bank_user_by_id.id}}" method="post">
            {% csrf_token %}
            <tr><h1 class="top_header">Add Bank Users</h1></tr>
            
            
        <tr>    
            <td>First Name</td>
            <td><input type="text" name="first_name" value="{{bank_user_by_id.firstname}}" autocomplete="off"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="last_name" value="{{bank_user_by_id.lastname}}"></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit" value="update_record"></td>
        </tr>
   
    </table>
    </form>
</div>
</body>
</html>